@model GeneratePageModel

<ul class="nav nav-pills mb-3" role="tablist" id="usertablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#user-info" id="userinfotabbutton" aria-selected="true" role="tab">User Info</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="read_user_settings">
        <a class="nav-link" data-bs-toggle="tab" href="#Settings-User" id="userconfigtabbutton" aria-selected="false" tabindex="-1" role="tab">User Settings</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="edit_params">
        <a class="nav-link" data-bs-toggle="tab" href="#Param-Config-User" id="userparamconfigtabbutton" aria-selected="false" tabindex="-1" role="tab">Parameter Configuration</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="read_user_settings">
        <a class="nav-link" data-bs-toggle="tab" href="#Layout-Config-User" id="userlayoutconfigtabbutton" aria-selected="false" tabindex="-1" role="tab">Generate Tab Layout</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane show active" id="user-info" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">User Account</div>
                        <div class="card-body text-center">
                            @if (!Model.IsLoginEnabled)
                            {
                                <p>User accounts are not enabled. You are the local default user. You can enable multi-user accounts in the <a href="#Settings-Server" onclick="getRequiredElementById('servertabbutton').click();getRequiredElementById('serverconfigtabbutton').click()">Server Configuration</a> tab.</p>
                            }
                            else
                            {
                                <p>You are logged in as: <b>@Model.User.UserID</b></p>
                                <button class="btn btn-outline-secondary" id="logout_button" onclick="doUserLogout()">Logout</button>
                                <button class="btn btn-outline-primary" id="change_password_button" data-bs-toggle="modal" data-bs-target="#change_password_modal">Change Password</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @WebUtil.ModalHeader("change_password_modal", "Change Password")
            <div class="modal-body">
                <p>This form lets you change your user password. If you never had a password before, leave the old password blank.</p>
                <div class="mb-3">
                    <label for="change_password_old_password" class="form-label">Old/Current Password:</label>
                    <input type="password" class="form-control" id="change_password_old_password" placeholder="Enter old/current password..." autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="change_password_new_password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="change_password_new_password" placeholder="Enter new password..." autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="change_password_new_password2" class="form-label">Confirm New Password:</label>
                    <input type="password" class="form-control" id="change_password_new_password2" placeholder="Confirm new password..." autocomplete="off">
                </div>
                <div id="change_password_result_area"></div>
            </div>
        <div class="modal-footer"><button type="button" class="btn btn-primary" id="change_password_submit_button" onclick="doPasswordChangeSubmit()">Submit</button><button type="button" class="btn btn-secondary" id="change_password_cancel_button" data-bs-dismiss="modal">Cancel</button></div>
        @WebUtil.ModalFooter()
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">API Keys</div>
                        <div class="card-body">
                            <p class="card-text">
                                To use remote APIs in SwarmUI, you must set the key for it. If you have an API key for any of the below APIs, paste it into the corresponding box and click 'Save'.
                            </p>
                            <div class="table-responsive">
                                <table class="table table-sm" id="api_keys_table">
                                    <thead>
                                        <tr><th>API</th><th>Status</th><th>Actions</th><th>Link</th><th>Info</th></tr>
                                    </thead>
                                    <tbody>
                                    @foreach (UserUpstreamApiKeys.ApiKeyInfo keyInfo in UserUpstreamApiKeys.KeysByType.Values)
                                    {
                                        <tr data-prefix="@keyInfo.JSPrefix" data-key="@keyInfo.KeyType">
                                            <td><b>@keyInfo.Title</b></td>
                                            <td><span id="@(keyInfo.JSPrefix)_key_status">(Unknown)</span></td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="password" id="@(keyInfo.JSPrefix)_api_key" class="form-control" placeholder="@keyInfo.Title API Key" autocomplete="off" oninput="apiHelpers['@keyInfo.KeyType'].onKeyInput()" />
                                                    <button class="btn btn-outline-primary" id="@(keyInfo.JSPrefix)_key_submit" onclick="apiHelpers['@keyInfo.KeyType'].onSaveButton()" disabled autocomplete="off">Save</button>
                                                    <button class="btn btn-outline-danger" id="@(keyInfo.JSPrefix)_key_remove" onclick="apiHelpers['@keyInfo.KeyType'].onRemoveButton()" disabled autocomplete="off">Remove</button>
                                                </div>
                                            </td>
                                            <td><a href="@keyInfo.CreateLink" target="_blank" rel="noreferrer noopener">Go here to create a key</a></td>
                                            <td>@keyInfo.InfoHtml</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Settings-User" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="d-flex align-items-center mb-3">
                        <span class="me-3">Language</span>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle border rounded" id="language_dropdown_link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
                            <div class="dropdown-menu">
                                @foreach (string code in LanguagesHelper.PreferredLanguages)
                                {
                                    LanguagesHelper.Language lang = LanguagesHelper.Languages[code];
                                    <a class="dropdown-item" onclick="changeLanguage('@code')" href="#"><img class="translate-img me-2" src="imgs/flags/@(code).jpg" />@code - @lang.Name - @lang.LocalName</a>
                                }
                                <div class="dropdown-divider"></div>
                                @foreach (string code in LanguagesHelper.SortedList.Except(LanguagesHelper.PreferredLanguages))
                                {
                                    LanguagesHelper.Language lang = LanguagesHelper.Languages[code];
                                    <a class="dropdown-item" onclick="changeLanguage('@code')" href="#"><img class="translate-img me-2" src="imgs/flags/@(code).jpg" />@code - @lang.Name - @lang.LocalName</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="user_settings_container"></div>
                </div>
            </div>
        </div>
        <div class="settings_submit_confirmer" id="usersettings_confirmer">
            <span class="settings_submit_confirmer_text">Save <span id="usersettings_edit_count">0</span> edited setting(s)?</span>
            <button type="button" class="btn btn-primary" onclick="save_user_settings()">Save</button>
            <button type="button" class="btn btn-secondary" onclick="cancel_user_settings_edit()">Cancel</button>
        </div>
    </div>
    <div class="tab-pane" id="Param-Config-User" role="tabpanel">
        <div class="container">
            <div class="alert alert-warning mt-3">Notice: this is raw internal configuration of parameters. Don't mess with this unless you know what you're doing.</div>
            <div id="user_param_config_container"></div>
        </div>
        <div class="settings_submit_confirmer" id="user_param_config_confirmer">
            <span class="settings_submit_confirmer_text">Save <span id="user_param_config_edit_count">0</span> edited parameter setting(s)?</span>
            <button type="button" class="btn btn-primary" onclick="paramConfig.saveEdits()">Save</button>
            <button type="button" class="btn btn-secondary" onclick="paramConfig.cancelEdits()">Cancel</button>
        </div>
    </div>
    <div class="tab-pane" id="Layout-Config-User" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary mb-3 mt-3">
                        <div class="card-header">Generate Tab Layout Configuration</div>
                        <div class="card-body">
                            <p class="card-text">
                                The settings below let you reorganize the sub-tabs within the Generate tab.
                                <br>Any sub-tab group that does not have any sub-tabs inside of it will be hidden automatically.
                            </p>
                            <div class="mb-3">
                                <button class="btn btn-outline-secondary" onclick="genTabLayout.resetSubTabs()">Reset to Default</button>
                            </div>
                            <div class="mb-3">
                                <label for="mobile_desktop_layout_selector" class="form-label"><b>Mobile/Desktop Layout</b>:</label>
                                <select id="mobile_desktop_layout_selector" class="form-select" onchange="genTabLayout.onMobileDesktopLayoutChange()">
                                    <option value="auto" selected>Auto</option>
                                    <option value="mobile">Mobile</option>
                                    <option value="desktop">Desktop</option>
                                </select>
                            </div>
                            <div id="layoutconfigarea">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
