@model GeneratePageModel

<ul class="nav nav-pills mb-3" role="tablist" id="utilitiestablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#Utilities-Info-Tab" aria-selected="true" role="tab">Info</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="use_tokenizer">
        <a class="nav-link" data-bs-toggle="tab" id="cliptokentabbutton" href="#Utilities-CLIP-Token-Tab" aria-selected="false" tabindex="-1" role="tab">CLIP Tokenization</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="pickle2safetensors">
        <a class="nav-link" data-bs-toggle="tab" href="#Utilities-Pickle2Safetensor-Tab" aria-selected="false" tabindex="-1" role="tab">Pickle To Safetensors</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="extra_loras">
        <a class="nav-link" data-bs-toggle="tab" href="#Utilities-LoraExtractor-Tab" id="loraextractortabbutton" aria-selected="false" tabindex="-1" role="tab">LoRA Extractor</a>
    </li>
    <li class="nav-item" role="presentation" data-requiredpermission="download_models">
        <a class="nav-link" data-bs-toggle="tab" href="#Utilities-ModelDownloader-Tab" id="modeldownloadertabbutton" aria-selected="false" tabindex="-1" role="tab">Model Downloader</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane show active" id="Utilities-Info-Tab" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">Utilities</div>
                        <div class="card-body">
                            <p class="card-text">
                                The "Utilities" tab provides a variety of general utilities and tools in the subtabs above, and the quicktools below.
                            </p>
                        </div>
                    </div>
                    <div class="card border-secondary mb-3" data-requiredpermission="reset_metadata">
                        <div class="card-header">Metadata Utilities</div>
                        <div class="card-body">
                            <div class="text-center">
                                <button id="util_massmetadataclear_button" class="btn btn-danger mb-3" onclick="util_massMetadataClear()">Reset All Metadata</button>
                            </div>
                            <p class="card-text small">
                                If you click this button, all Model and Image metadata datastores will be reset, and they will be reloaded from source files.
                                This is useful for example if you've externally modified your model or image files and want to clean out or update Swarm's metadata tracking.
                                Note that this does not remove metadata from the models or images themselves, just from the databases that keep an efficient tracker of them.
                                This may take a moment to run.
                            </p>
                            <hr>
                            <span data-requiredpermission="edit_model_metadata">
                                <div class="text-center">
                                    <button id="util_modelmetadatascanner_button" class="btn btn-primary mb-3" onclick="modelMetadataScanner.run()">Scan Civitai For Metadata</button>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="util_modelmetadatascanner_subtype" class="form-label">Model Sub-type:</label>
                                        <select id="util_modelmetadatascanner_subtype" class="form-select">
                                            <option value="all" selected>all</option>
                                            @foreach (string key in Program.T2IModelSets.Keys)
                                            {
                                                <option value="@key">@key</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="util_modelmetadatascanner_date" class="form-label">Date range:</label>
                                        <select id="util_modelmetadatascanner_date" class="form-select">
                                            <option value="all" selected>All (ignore time)</option>
                                            <option value="today">Models downloaded today (24 hours)</option>
                                            <option value="week">Models downloaded this week (7 days)</option>
                                            <option value="month">Models downloaded this month (31 days)</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="util_modelmetadatascanner_requirements" class="form-label">Filter:</label>
                                        <select id="util_modelmetadatascanner_requirements" class="form-select">
                                            <option value="all" selected>All</option>
                                            <option value="no_thumbnail">Only models without a thumbnail</option>
                                            <option value="no_description">Only models without a description</option>
                                            <option value="no_author">Only models without an author</option>
                                            <option value="explicit_url">Only models with an explicit civitai url in the description</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="util_modelmetadatascanner_replace" class="form-label">Replace:</label>
                                        <select id="util_modelmetadatascanner_replace" class="form-select">
                                            <option value="only_missing" selected>Only missing data</option>
                                            <option value="all">All (Replace everything)</option>
                                            <option value="only_thumbnail">Only the thumbnail image</option>
                                            <option value="only_text">Only the basic text inputs (eg description)</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="util_modelmetadatascanner_filter" class="form-label">Model filename filter:</label>
                                        <input type="text" id="util_modelmetadatascanner_filter" class="form-control" placeholder="Filter by filename" />
                                    </div>
                                </div>
                                <div id="util_modelmetadatascanner_result" class="mt-3"></div>
                                <p class="card-text small mt-3">
                                    If you click this button, Swarm will scan Civitai for metadata on models, and update the metadata database with any information found.
                                    You can filter by date range (eg only recently downloaded model files), and/or by required missing content (eg only scan those without images).
                                    You can also choose what metadata gets updated (eg only the image).
                                    Optionally use the model filename filter to only scan models with a specific filename. Use '*' as a wildcard.
                                    (For example, 'SDXL/*' will scan only models within a folder named 'SDXL/'. This is case-insensitive.)
                                    Will take a while, and may seem to freeze up if it has to apply edits. This is normal.
                                    Additional debug info while running can be found in the browser console.
                                    <br><b>Be careful!</b> If you have manually edited metadata, you can easily accidentally delete it. There is no undo for unwanted changes, they are applied rapidly in bulk.
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Utilities-CLIP-Token-Tab" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">CLIP Tokenizer</div>
                        <div class="card-body">
                            <p class="card-text">
                                This is a tool to analyze CLIP tokenization for Stable Diffusion models.
                                <br>All current Stable Diffusion models use the same CLIP token set, so this applies to them all.
                                <br>Simply type some text in the box below to see how it gets tokenized.
                                <br>It will show each text-piece, and its numerical ID.
                            </p>
                        </div>
                    </div>
                    <div class="p-3">
                        <textarea class="form-control" id="clip_tokenization_test_textarea" rows="2" oninput="utilClipTokenize()"></textarea>
                        <div class="mt-3 p-3 border rounded bg-light" id="clip_tokenization_result_line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Utilities-Pickle2Safetensor-Tab" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">Pickle To Safetensors</div>
                        <div class="card-body">
                            <p class="card-text">
                                This is a tool to quickly convert legacy Pickle (.pt, .ckpt, .bin) files to modern Safetensors files.
                                <br><b>WARNING:</b> Pickle files may contain malicious code. Do not use this tool or otherwise load pickle files unless you trust their source.
                                <br>The pickle files will be moved to a "backups" folder, and the safetensors files left in place where the pickles originally were.
                                <br>You may delete the backups folder after confirming the new safetensors files work as intended.
                                <br>Be aware that this may temporarily use a large amount of filespace.
                                <br>This may take some time to process.
                                <br>(You can continue using the UI as normal while this runs)
                            </p>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" id="pickle2safetensor_fp16" checked>
                            <label class="form-check-label" for="pickle2safetensor_fp16">Convert to FP16? (Saves space, recommended)</label>
                        </div>
                    </div>
                    <div id="pickle2safetensor_text_area" class="mb-3"></div>
                    <table class="table table-bordered text-center">
                        <thead class="table-light">
                            <tr>
                                <th>Type</th>
                                <th>Count</th>
                                <th>Convert</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Models</td><td><span id="pickle2safetensor_stable-diffusion_count">?</span></td><td><button id="pickle2safetensor_stable-diffusion_button" class="btn btn-sm btn-primary" onclick="pickle2safetensor_run('Stable-Diffusion')">Convert Models</button></td></tr>
                            <tr><td>LoRAs</td><td><span id="pickle2safetensor_lora_count">?</span></td><td><button id="pickle2safetensor_lora_button" class="btn btn-sm btn-primary" onclick="pickle2safetensor_run('LoRA')">Convert LoRAs</button></td></tr>
                            <tr><td>VAEs</td><td><span id="pickle2safetensor_vae_count">?</span></td><td><button id="pickle2safetensor_vae_button" class="btn btn-sm btn-primary" onclick="pickle2safetensor_run('VAE')">Convert VAEs</button></td></tr>
                            <tr><td>Embeddings</td><td><span id="pickle2safetensor_embedding_count">?</span></td><td><button id="pickle2safetensor_embedding_button" class="btn btn-sm btn-primary" onclick="pickle2safetensor_run('Embedding')">Convert Embeddings</button></td></tr>
                            <tr><td>ControlNets</td><td><span id="pickle2safetensor_controlnet_count">?</span></td><td><button id="pickle2safetensor_controlnet_button" class="btn btn-sm btn-primary" onclick="pickle2safetensor_run('ControlNet')">Convert ControlNets</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Utilities-LoraExtractor-Tab" role="tabpanel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">LoRA Extractor</div>
                        <div class="card-body">
                            <p class="card-text">
                                This is a tool to extract a LoRA from the difference between two models.
                                <br>"Base" should be whatever the common base model is, eg SDXL-1.0-Base.
                                <br>"Other" should be the unique model with information to extract into the LoRA.
                                <br>The closer Base is to Other, the less complex the LoRA's data will be, and the more likely it will work well with other models that were built off the same base.
                                <br>
                                <br>Note that LoRA Extraction is an imperfect partial process, and will lose some of the data that makes the model unique.
                                <br>Rank is a number indicating how much detail to try to save. Higher numbers result in bigger files, and only slightly more accurate matching. Small values (eg 16) are usually sufficient.
                            </p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lora_extractor_base_model" class="form-label">Base model:</label>
                        <select class="form-select" id="lora_extractor_base_model"></select>
                    </div>
                    <div class="mb-3">
                        <label for="lora_extractor_other_model" class="form-label">Other model:</label>
                        <select class="form-select" id="lora_extractor_other_model"></select>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col">
                            <label for="lora_extractor_rank" class="form-label">Rank:</label>
                            <input type="number" id="lora_extractor_rank" class="form-control" value="16" min="1" max="320" />
                        </div>
                        <div class="col">
                            <label for="lora_extractor_name" class="form-label">Save as:</label>
                            <input type="text" id="lora_extractor_name" class="form-control" placeholder="LoRA Name" />
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <button id="lora_extractor_button" class="btn btn-primary" onclick="loraExtractor.run()">Extract LoRA</button>
                    </div>
                    <div class="progress" id="lora_extractor_special_progressbar" style="display:none;"><div class="progress-bar" role="progressbar"></div></div>
                    <div id="lora_extractor_text_area" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Utilities-ModelDownloader-Tab" role="tabpanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="p-3">
                        <div class="mb-3">
                            @WebUtil.TextPopoverButton("modeldownloaderurl", "Exact web URL to the model.\nCivitai URLs are fully supported and will load metadata.\nHuggingFace URLs will be recognized.\nFor anything else, make sure the URL is a direct download URL, not a webpage.\nNote only '.safetensors' models are allowed.")
                            <label for="model_downloader_url" class="form-label"><b>URL</b>:</label>
                            <input type="text" id="model_downloader_url" class="form-control" placeholder="Model URL" oninput="modelDownloader.urlInput()" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            @WebUtil.TextPopoverButton("modeldownloaderstatus", "This section will update after you input a URL to inform you if the URL is valid.\nThe box below will display loaded metadata if you use a civitai URL.")
                            <b>Status</b>: <span id="model_downloader_status">(...)</span>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="border rounded p-3 mb-3" id="model_downloader_metadatazone" style="min-height: 150px;"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="model_downloader_imageside"></div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                @WebUtil.TextPopoverButton("modeldownloadertype", "The base model sub-type to use, ie what category it gets saved to.\nMake sure this is correct, you don't want a LoRA in your base models folder or similar.\nCivitai links will autoset this when they load metadata.")
                                <label for="model_downloader_type" class="form-label"><b>Model Type</b>:</label>
                                <select class="form-select" id="model_downloader_type" autocomplete="off">
                                    <option value="Stable-Diffusion">Base Model</option>
                                    <option value="LoRA">LoRA</option>
                                    <option value="VAE">VAE</option>
                                    <option value="Embedding">Embedding</option>
                                    <option value="ControlNet">ControlNet</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                @WebUtil.TextPopoverButton("modeldownloaderfolder", "What folder to put the model in.\nTo create new folders, simply type paths with '/' in them into the 'Save as:' name box below.")
                                <label for="model_downloader_folder" class="form-label"><b>Folder</b>:</label>
                                <select class="form-select" id="model_downloader_folder" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                             @WebUtil.TextPopoverButton("modeldownloadersaveas", "File name to save as. Don't include the '.safetensors' file extension, just the name.\nYou can use a folder path with the '/' symbol.")
                            <label for="model_downloader_name" class="form-label"><b>Save as</b>:</label>
                            <input type="text" id="model_downloader_name" class="form-control" placeholder="Model Name" autocomplete="off" oninput="modelDownloader.nameInput()" />
                        </div>
                        <div class="text-center">
                            <button id="model_downloader_button" class="btn btn-primary" onclick="modelDownloader.run()" disabled>Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div id="model_downloader_right_sidebar" class="p-3" style="height: 80vh; overflow-y: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
